body{
    @apply bg-gray1;
}

.bg-line.hovered {
    margin-top: 0 !important; /* Ensure the hover effect works as intended */
}

@keyframes line-move {
    0% {
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes line-move-reverse {
    0% {
        transform: translateX(0);
        opacity: 100%;
    }

    100%{
        transform: translateX(100%);
        opacity: 100%;
    }
}

.line{
 @apply relative flex;
}

.line p{
    @apply relative overflow-hidden;
}

.line p::after{
    content: "";
    @apply absolute bottom-0 left-0 h-[1px] bg-red w-full transition duration-100 ease-in hover:ease-out;
    /* transform: translateX(-100%); */
    opacity: 0%;
}

.line:hover p::after{
    /* transform: translateX(0); */
    animation: line-move 500ms ease-in-out;
    opacity: 100%;
}

.line:not(:hover) p::after {
    animation: line-move-reverse 500ms ease-in-out;
}

.btn-book{
    @apply relative overflow-hidden block min-w-[300px] m-auto;
}

.btn-book::before{
    content: "";
    @apply w-[10px] h-[10px] absolute rounded-full my-7 left-2 inset-y-0 bg-white;
    @apply transition duration-300 ease-in hover:ease-out;
    transform: translateX(-200%);
}

.btn-book:hover::before{
    transform: translateX(0);
}

.btn-book::after{
    content: "";
    @apply w-[10px] h-[10px] absolute rounded-full my-7 right-2 inset-y-0 bg-white;
    @apply transition duration-300 ease-in hover:ease-out;
    transform: translateX(0);
}

.btn-book:hover::after{
    transform: translateX(200%);
}

.btn-try{
    @apply relative flex items-center justify-center overflow-hidden;
}

.btn-try::before{
    content: "";
    @apply w-[10px] h-[10px] rounded-full bg-white;
    @apply transition duration-300 ease-in hover:ease-out;
    transform: translateX(-60px);
    @apply absolute left-0;
}

.btn-try:hover::before{
    transform: translateX(60px);
}

.btn-try::after{
    content: "";
    @apply w-[10px] h-[10px] rounded-full bg-white;
    @apply transition duration-300 ease-in hover:ease-out;
    transform: translateX(-60px);
    @apply absolute right-0;
}

.btn-try:hover::after{
    transform: translateX(60px);
}


